body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ArcherPro-Light;
}

button {
  outline: none;
  border: none;
  font-family: ArcherPro-Light;
  cursor: pointer;
}

@font-face {
  font-family: "prueba";
  src: url("Archer-Bold-Pro.otf");
}

@font-face {
  font-family: "ArcherPro-Light";
  src: url("ArcherPro-Light.otf");
}

@font-face {
  font-family: "BonVivant-Regular";
  src: url("Sonneta Script.otf");
}

.navbar-container {
  width: 1120px;
  margin: 0 auto 20px;
}

.navbar-container button {
  background: none;
}

.navbar-first-row-container {
  display: flex;
  justify-content: center;
}

.navbar-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1258px;
  margin: 15px 0;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.logo {
  font-family: "BonVivant-Regular";
  font-size: 4.5em;
  margin-bottom: -50px;
  margin-left: 20px;
  margin-top: -25px;
}

.logo-tagline {
  font-family: "IM Fell Double Pica SC";
  font-size: 1.2em;
  margin: +32px 0 auto;
  color: rgb(231, 202, 127);
}

.search-and-log-in {
  display: flex;
  flex-direction: row;
}

.search {
  margin: auto 0;
}

.search input {
  display: block;
  font-family: "ArcherPro-Light";
  width: 250px;
  padding: 0.5em;
  font-size: 0.9em;
  align-self: center;
  margin: 0 4px 0 20px;
  outline: none;
  border: none;
  border: rgb(128, 128, 128) solid 1px;
}

.single-product-container {
  display: flex;
  flex-direction: row;
  width: 1270px;
  margin: 25px auto 70px;
}

.single-product-picture img {
  height: 500px;
}

.single-product-specs {
  margin: auto 110px auto 0;
}

.search-icon {
  height: 1em;
  position: absolute;
  top: 43px;
  right: 120px;
}

.not-logged-in {
  margin: auto 0;
}

.not-logged-in button {
  font-size: 1.2em;
  margin-left: 10px;
}

.categories {
  display: flex;
  justify-content: space-around;
}

.categories button {
  font-size: 1em;
}

.navbar-container hr {
  border: none;
  border-top: rgb(218, 218, 218) solid 1px;
}

.home-main-picture {
  width: 1120px;
  margin: 35px auto 80px;
}

.home-main-picture img {
  width: 1120px;
}

.name {
  font-family: "IM Fell Double Pica SC", serif;
  font-size: 3em;
}

.single-product-description {
  font-family: ArcherPro-Light;
  font-size: 1.2em;
  margin-top: 15px;
}

.specs {
  font-family: ArcherPro-Light;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0 5px 0;
}

.single-product-icon {
  height: 1.5em;
  margin-right: 5px;
}

.single-spec {
  display: flex;
  margin: 0 15px 15px 0;
  align-items: center;
}

.single-product-price {
  font-size: 3em;
  color: rgb(163, 163, 163);
}

.add-to-cart {
  background-color: rgb(231, 202, 127);
  font-size: 1.2em;
  padding: 10px 25px;
  font-family: ArcherPro-Light;
}

.add-to-cart:hover {
  background-color: rgb(243, 208, 118);
}

.change-quantity {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  font-family: ArcherPro-Light;
}

.quantity {
  outline: none;
  border: none;
  width: 12px;
  font-size: 1.2em;
  padding: 10px 20px;
  font-family: ArcherPro-Light;
  text-align: center;
}

.results-title {
  width: 1120px;
  margin: 0 auto 20px;
  font-family: "IM Fell Double Pica SC";
  font-size: 2em;
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1120px;
  margin: 0 auto;
  /* border: rgb(201, 201, 201) solid 1px; */
}

.single-result {
  /* display: flex;
  flex-direction: column; */
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  /* border: rgb(201, 201, 201) solid 1px; */
  width: 250px;
  border-radius: 3px;
  /* box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2); */
  /* align-items: center; */
}

.single-result img {
  height: 280px;
  padding: 10px 0;
}

.single-result hr {
  width: 100%;
  border-top: 1px solid rgb(202, 202, 202);
}

.single-result-name {
  margin-top: 4px;
}

.single-result-brand {
  margin-bottom: 18px;
}

.single-result-price {
  font-size: 1.5em;
  /* font-weight: 600; */
  color: rgb(120, 120, 120);
}

.single-result-specs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.picture-container {
  display: flex;
  justify-content: center;
}

.add-to-cart-results {
  background-color: rgb(231, 202, 127);
  font-size: 1em;
  padding: 10px 25px;
  font-family: ArcherPro-Light;
  width: 100%;
  /* font-weight: 600; */
  /* color: white; */
  /* color: rgb(50, 50, 50); */
  border-bottom: 3px solid rgb(25, 25, 25);
}

.add-to-cart-results:hover {
  background-color: rgb(243, 208, 118);
}

.single-result-name {
  font-weight: 600;
}

/* REGISTER */

.sign-up-or-log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 374px;
  margin: 70px auto 120px;
  border: rgb(202, 202, 202) solid 1px;
  padding: 40px;

}

.sign-up-or-log-in h2 {
  margin-top: 20px;
  font-weight: 200;
}

.sign-up-or-log-in hr {
  margin: 10px auto -8px;
  border: none;
  border-top: rgb(128, 128, 128) solid 1px;
  width: 374px;
}

.sign-up-or-log-in input {
  outline: none;
  width: 350px;
  padding: 0.9em;
  font-size: 0.9em;
  border: none;
  border: rgb(128, 128, 128) solid 1px;
  margin-bottom: 5px;
  font-family: ArcherPro-Light;
}

.sign-up-or-log-in label {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 0.9em;
}

.sign-up-or-log-in button {
  outline: none;
  width: 378px;
  margin: 20px 0 0;
  background-color: rgb(231, 202, 127);
  color: black;
  font-size: 1.2em;
  padding: 12px 0.75em;
  font-family: ArcherPro-Light;
}

.sign-up-or-log-in button:hover {
  background-color: rgb(243, 208, 118);
}

.footer {
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 70px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(214, 214, 214);
}

/* CART */

.cart-container {
  margin-bottom: 80px;
}

.cart-column-labels {
  display: flex;
  flex-direction: row;
  width: 1120px;
  margin: 10px auto 10px;
}

.cart-title {
  width: 1120px;
  margin: 0 auto 20px;
  font-size: 2em;
  font-family: "IM Fell Double Pica SC";
}

.cart-container hr {
  width: 1120px;
  margin: 0 auto;
  border: none;
  border-top: rgb(218, 218, 218) solid 1px;
}

.column-1 {
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.column-2 {
  width: 150px;
  margin: auto 0;
}
.column-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  margin: auto 0;
}
.column-4 {
  width: 150px;
  margin: auto 0;
  text-align: right;
}

.column-3 input{
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0.5em;
  border: rgb(128, 128, 128) solid 1px;
  font-family: ArcherPro-Light;
  width: 50px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  width: 1120px;
  margin: 10px auto 10px;
}

.cart-product-picture {
  height: 100px;
}

.cart-delete-icon {
  height: 2em;
  margin-left: 3px;
}

.cart-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1120px;
  margin: 10px auto 10px;
}

.cart-total-amount {
  width: 200px;
  text-align: right;
  font-size: 1.5em;
  margin-top: 20px;
}

.cart-total button {
  outline: none;
  width: 150px;
  margin: 20px 0 0;
  background-color: rgb(231, 202, 127);
  color: black;
  font-size: 1.2em;
  padding: 12px 0.75em;
}